#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
#footer
{
    position: sticky;
    bottom: 0;
    color: aqua;
    width: 100%;
    line-height: 3;
    text-align: center;
    background-color: darkgray;
}
body
{
    background-color: aqua;
}

#camera
{
    width: 500px;
    height: 400px;
    border-color: black;
}

pic1.jpg
{
    width: 400;
    border-radius: 10%;
    padding: 40%;
    box-shadow: 20%;
    
}

pic2.jpg
{

    width: 400;
    border-radius: 10%;
    padding: 40%;
    box-shadow: 20%;
}

pic3.jpg
{
    width: 400;
    border-radius: 10%;
    padding: 40%;
    box-shadow: 20%;
}



